<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>form-submission</title>
</head>
<body>
    <div class="form-box">
        <div class="heading">Gym Registration form : Feel your details for joing the world best gym.</div>
        <form action="/" method="post">
            <input type="text" name="name" id="name" placeholder="Enter your Name">
            <input type="text" name="phone" id="phone" placeholder="Enter your phone number">
            <input type="email" name="email" id="email" placeholder="Enter your email">
            <textarea name="concern" id="concern" cols="30" rows="10" placeholder="What is your concern?"></textarea>
            <button class="btn">Submit</button>
        </form>
    </div>
</body>
</html>